/* fixed parts across all pages*/
body{
	margin: 0;
	padding:0;
}

h3{
	font: 21pt AR CENA;
	color: #42210B;
}

p{
	font: 14pt Arial;
	color: #1A1A1A;
}

	/* footer section*/
footer p{
	font: 12pt AR CENA;
	text-align: center;
	color: #1A1A1A;
}

footer {
	background-color: #F7EFE4;
	padding-top: 20px;
	margin-top: 20px;
}

header {
	text-align: center;
	background-color: #F7EFE4;
}

header img{
	padding:15px;
}

nav{
	background-color: #603813;
	margin: 0px;
	padding: 10px;
}

	/*change navigation*/
nav a{
	padding: 80px;
	text-decoration: none;
	color: #FFFFFF;
}
	
	/* location tab*/
.location {
	margin-left:7%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
}

.location a{
	text-decoration: none;
	color: #AA6939;
}


/* home page */
.carousel {
	text-align: center;
}

.carousel img{
	width:86%;
	height: auto;
}

/* Product review page*/
.products {
	margin-left: 7%;
	margin-right: 7%;
}

.products img{
	width: 320px;
	height: auto;
}

	/* spacing out three images*/
.image-mid {
	margin:0px;
	padding-right: 92px;
	padding-left: 92px;
}

.products h3{
	margin-bottom: 5px;
	margin-top: 0;
}

.products p{
	padding: 0px;
	margin: 0px 0px 30px 0px;
}
/* PumpkinRoll Style */
/*.details img{
	width: 570px;
	height: 570px;
}*/

h1 {
	font: 28pt AR CENA;
}

h4 {
	font: 21pt AR CENA #DBA703;
}

.pumpkin-details {
	display: inline-block;
	width: 60%;
	float: right;
	padding: 0 60px;
	box-sizing: border-box;
}

.pumpkin-image{
	display: inline-block;
	width: 40%;
	float: left;
}

.pumpkin-image img {
	width: 100%;
}

.clearfix::after,
.details:after {
	content: ' ';
	clear: both;
}

footer {
	width: 100%;
	display: block;
	float: left;
}