.products img{
	width: 320px;
	height: auto;
	text-align: center;
}

h3{
	font: 24pt AR CENA;
}

p{
	font: 16pt Arial;
}

footer p{
	font: 12pt AR CENA;
	text-align: center;
}
.site-footer {
	background-color: #F7EFE4;
}
header {
	text-align: center;
	background-color: #F7EFE4;
}

body{
	margin: 0;
}

nav{
	background-color: #603813;
	font: 24pt AR CENA #FFFFFF;
}

/* PumpkinRoll Style */
/*.details img{
	width: 570px;
	height: 570px;
}*/

h1 {
	font: 28pt AR CENA;
}

h4 {
	font: 21pt AR CENA #DBA703;
}

.pumpkin-details {
	display: inline-block;
	width: 60%;
	float: right;
	padding: 0 60px;
	box-sizing: border-box;
}

.pumpkin-image{
	display: inline-block;
	width: 40%;
	float: left;
}

.pumpkin-image img {
	width: 100%;
}

.clearfix::after,
.details:after {
	content: ' ';
	clear: both;
}

footer {
	width: 100%;
	display: block;
	float: left;
}